.ing_name {

    background-color: #FFF;
    color: #588B8B;
    font-size: 4.5vw;
    border: #588B8B 2vw solid;
    display: inline-flex;
    justify-content: center;
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
