.ingredpg {
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    background-color: #FFF8E2;
    margin: -10px;
    width: 375px;
    height: 816px;
    align-content: center;
    justify-content: center;
    position: absolute;
}

.cigainfo {
    position: relative; 
    top: -30px;
}

.subhead_ingred {
    height: 0px;
}


.cigaImg {
    position: relative;
    margin: 0;
}




.button_ingred {
    position: absolute;
    left: 15px;
    bottom: 40px;
}

#click {
    margin-top:-100px;
}

.footerbutton_ingred {
    margin-top:-100px;
}