.ingredpg {
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    background-color: #FFF8E2;

    width: 375px;
    height: 812px;
    align-content: center;
    justify-content: center;
    position: absolute;
}