.smoking {
    font-family: 'Fredoka One', cursive;
    background-color: #FFF8E2;
    margin: -10px;
    width: 375px;
    height: 816px;
    align-content: center;
    justify-content: center;
    position: absolute;

}


.ciga_title {
    font-size: 29px;
    position: relative;
    top: -50px;
    color: #707071;
    text-align: center;
}

.cigaImg {
    width: 500px;
    height: 200px;
    position: relative;
    top: -10px;
    left: 3%;
}

.footerbutton_ingred {
    position: relative;
  
    top: 100px;
    left: 12px;
}

#click {
    position: relative;
    left: 130px;
    bottom: -100px;
    color: #707071;
}

a:link {
    text-decoration: none;
}


.subhead_ing{
    position: relative;
    top: -30px;
}



