.smoking {
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    background-color: #FFF8E2;

    width: 375px;
    height: 812px;
    align-content: center;
    justify-content: center;
    position: absolute;

}


.ciga_title {
    font-size: 29px;
    position: relative;
    top: 40px;
    color: #707071;
    text-align: center;
}

.cigaImg {
    position: relative;
    margin-top: 20%;
    top: 90px;
    left: 14%;
    margin-bottom: 140px;
}

.footerbutton {
    position: relative;
    top: 220px;
    left: 12px;
}