.smoking {
    font-family: 'Fredoka One', cursive;
    background-color: #FFF8E2;
  
    height: 812px;
    align-content: center;
    justify-content: center;
  

}


.ciga_title {
    font-size: 29px;
    position: relative;
    top: -50px;
    color: #707071;
    text-align: center;
    margin-bottom: -10px;
}

.cigaImg {
    width: 500px;
    height: 200px;
    position: relative;
    top: -40px;
    left: 3%;
}

.footerbutton_ingred {
    display: flex;
 
    left: 12px;
    bottom: 100px;
    margin-top:-100px;
}

#click {
    display: flex;
  
    left: 180px;
    bottom: 60px;
    color: #707071;
    margin-left: 140px;
    margin-top:-100px;
}

a:link {
    text-decoration: none;
}


.subhead_ing{
    position: relative;
    top: -30px;
}



