#buttons_option {

    margin-left: 40px;
    position: relative;
    top: -30px;
}


#optionpage {
    margin: -8px;
    width: 375px;
    height: 816px;
}

.second_stack{
    position: relative;
    top: 100px;
}

a:link{
    text-decoration: none;
}