#buttons_option {

    margin-left: 30px;
    position: relative;
    top: -30px;
}


#optionpage {
    
/*  
    display: block;  
    width: 100vw;
    height: 812px; */

    text-align: center;

}

.second_stack{
    position: relative;
    top: 100px;
}

a:link{
    text-decoration: none;
}


body {
    margin: 0px;
}