.organ_img, img {
    width: 40%;
}


.organ_name {
    font-family: 'Fredoka One', cursive;
    color: #707071;
    font-size: 170%;
    align-self: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    left: 2%;
}

.organ {
    margin: 10px;
    display: inline-block;
}