.organ_img, img {
    width: 60%;
    position: relative;
    padding: 2px;
    left: 20%;
}


.organ_name {
    font-family: 'Fredoka One', cursive;
    color: #707071;
    font-size: 170%;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.organ {
    display: inline-block;
    align-content: center;
    justify-content: center;
}

.organ_img:hover {
    padding: 4px;
}
