.ciga{
    position: relative;
}

.ciga img{
    max-width: 50%;
}

.dot_ben {
    height: 25px;
    width: 25px;
    background-color: #588B8B;
    position: absolute;
    border-radius: 50%;
    top: 210px;
    left: 150px;
}

.dot_but {
    height: 25px;
    width: 25px;
    background-color: #707071;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 300px;
}

.dot_tar {
    height: 25px;
    width: 25px;
    background-color: #4469E3;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    left: 370px;
}

.dot_ammo {
    height: 25px;
    width: 25px;
    background-color: #F28F3C;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 220px;
}

.dot_nic {
    height: 25px;
    width: 25px;
    background-color: #C8553D;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 80px;
}