.ciga{
    position: relative;
}

.ciga img{
    width: 70%;
    height: 70%;
}

.dot_ben {
   width: 20px;
   height: 20px;
    background-color: #588B8B;
    position: absolute;
    border-radius: 50%;
    bottom: 30%;
    left: 25%;
}

.dot_but {
    width: 20px;
   height: 20px;
    background-color: #707071;
    border-radius: 50%;
    position: absolute;
    top: 67%;
    left: 50%;
}

.dot_tar {
    width: 20px;
   height: 20px;
    background-color: #4469E3;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    left: 60%;
}

.dot_ammo {
   width: 20px;
   height: 20px;
    background-color: #F28F3C;
    border-radius: 50%;
    position: absolute;
    top: 72%;
    left: 35%;
}

.dot_nic {
    width: 20px;
    height: 20px;
    background-color: #C8553D;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 15%;
}