.ciga{
    /* position: relative;
    margin:-10px; */
    text-align: center;
    position: relative;
}

.ciga img{
    width: 90%;
    /* height: 70%; */
    margin-top:40px;
}

.dot_ben {
    width: 6%;

    height: 8%;

    background-color: #588B8B;
    position: absolute;
    border-radius: 50%;
    bottom: 27%;
    left: 34%;

}

.dot_but {
    width: 6%;

    height: 8%;

    background-color: #707071;
    border-radius: 50%;
    position: absolute;
    top: 64%;
    left: 64%;

}

.dot_tar {
    width: 6%;

    height: 8%;
    background-color: #4469E3;
    border-radius: 50%;
    position: absolute;
    bottom: 19%;
    left: 77%;
}

.dot_ammo {
    width: 6%;

    height: 8%;
    background-color: #F28F3C;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: 47%;
}

.dot_nic {
    width: 6%;

    height: 8%;

    background-color: #C8553D;
    border-radius: 50%;
    position: absolute;
    top: 75%;
   
    left: 20%;
}
    



.ingred_line_one {
    display: flex;
    position: relative;
    margin: 0;
}


.benzene {
    display: none;
    position: absolute;
    margin-top:26%;

    z-index: 1;
}

.butane {
    display: none;
    position: absolute;

    left: 35%;
margin-top:19%;

    z-index: 1;
}

.tar {
    display: none;
    position: absolute;
    margin-top: 26%;
    margin-left: 64%;
    z-index: 1;
}

.annmo {
    display: none;
    position: absolute;
    margin-left: 57%;
    margin-top: -10%;
    z-index: 1;
}

.nico {
    display: none;
    position: absolute;
    margin-top: -10%;
    z-index: 1;
    margin-left: 10%;

}

.ingred_line_two {
    /* display: flex; */
    margin-bottom: 20%;
}

a:link{
    text-decoration: none;
}


.footerbutton_ingred {
    position: relative;
    text-align: center;
}