.about {
    align-items: center;
    justify-items: center;
}

.about_inner {
    background-color: #FFF8E2;
    margin: auto;
    width: 60%;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.about_info {
    width: 50%;
    margin: 10px;
    font-size: 27px;
    text-align: center;
    padding: 10px;
}

.about_img, img{
    margin: 10px;
    width: 70%;
    height: auto;
    padding: 10px;

}