.about {
    text-align: justify;
}

.about_inner {
    display: inline-block;
    background-color: #FFF8E2;
    margin: auto;
    width: 300px;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.about_info {
    
    font-size: 27px;
    text-align: center;
    margin: 10px;
 
 
  
}

.about_img img{
    margin: 10px;
    width:  270px;
    border-radius: 10px;
    height: auto;

 
}