.about {

    margin: -10px;
    text-align: justify;
    width:375px;
    height:812px;
    background-color: #FFF8E2;
  
}

.head{
    height: 170px;
}
.about_inner {
    display: inline-block;
    margin-top: 25x;
    width: 300px;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 14%;
    
}


.about_info {
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    color: #707071;
    text-align: center;
    padding: 20px;
    position: absolute;
   margin-left: -30px;

}

.about_img img{
    width:  270px;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
}



.backbutton_about {
    position: relative;
    left: 27%;
    bottom: -200px;
}