
.startbutton_box {
    background-color: #c8553D;
    width: 250px;
    color: #FFF;
    font-size: 45px;
    display: inline-flex;
    justify-content: center;
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 50px 10px 0px 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}


/* .startbutton_box:hover {
    background-color: white;
    border: 2px solid #c8553D;
    color: #c8553D;
} */

.startbutton_box_inner::selection {
    background: none;
    color: none;
}