/* #tutorialpage {

    width: 375px;
    height: 812px;
    font-family: 'Fredoka One', cursive;
    position: absolute;
    color: #588B8B;
    
}

#tutorialpage img {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 20px;
}

#text{
    padding: 20px;
    border: 5px solid  #707071;
    width: 310px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
}

#name {
    font-size: 40px;
    text-align: center;
    margin: 30px;
} */