.quizicon {
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top:80px;
    padding-bottom:80px;
    /* width:375px; */
    flex-direction: column;
}

.quizicon img{
  display: block;
  position: relative;
  width: 40%;
  height: 40%;
  margin: 10px;
}
/* 
.right {
  max-width: px;
} */

/* .question_inner { */
  /* display: flex; */
    /* width: 100%;
    margin-top:-260px; */
    /* padding: 25px; */

/* } */

.answertext{
  font-size: 20px;
  padding-bottom: 50px;
}


.quizbuttons {
  margin-top: 80px;
  margin-left: 32px;
  margin-bottom: -20px;
  

}

.question_answer {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: -20px;
  font-size: 20px;
}

.quizback {
  margin-left:-20px;
}

.background {
  background-color: #FFF8E2;
    /* width:375px; */
    height:100vh;
    color: #707071;
    text-align: center;
}

body {
  margin: 0px;
}


.answer_info{
  width: 90%;
  display: inline-block;
  margin-top: -300px;


  
}
.about_info img{

  width: 50%;
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}


.subhead_quiz_answer {
  color: #F28F3C;
  font-size: 45px;
  font-family: 'Fredoka One', cursive;
  position: absolute;
  top: 150px;
  left: 120px;
  margin-bottom: 0px;
}

a:link {
  text-decoration: none;
}

.color_answer {
  position: absolute;
  top: 125px;
  left: 90px;
  font-size: 50px;
  z-index: 1;
  width: 200px;
}
/* 

.about_info{
  position: absolute;
  top: 250px;
} */