.quizicon {
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top:80px;
    padding-bottom:80px;
    width:375px;
}

.quizicon img{
  display: block;
  position: relative;
  width: 40%;
  height: 40%;
  margin: 10px;
  
  
}
/* 
.right {
  max-width: px;
} */

.question_inner {
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-top:50px;

}

.quizbuttons {
  margin-top: 50px;
    display:flex;
   

}

.quizback {
  margin-left:-20px;
}

.background {
    background-color: lightyellow;
    width:375px;
    height:812px;
    position: absolute;
 
}

.about_info img{
  width: 70%;
}