.quizicon {
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top:80px;
    padding-bottom:80px;
    width:375px;
}

.quizicon img{
  display: block;
  position: absolute;
  width: 40%;
  height: 40%;
  margin: 10px;
  
  
}
/* 
.right {
  max-width: px;
} */

.question_inner {
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-top:50px;
 padding-left:17px;

}

.answertext{
  font-size: 20px;
  padding-bottom: 50px;
}
.quizbuttons {
  margin-top: 80px;
  display:flex;

}

.question_answer {
  margin: 10px;
  font-size: 20px;
}

.quizback {
  margin-left:-20px;
}

.background {
  background-color: #FFF8E2;
    width:375px;
    height:812px;
    position: absolute;
 
}

.about_info{
  position: relative;
  left: 5px;
  margin-top: -20px;
}
.about_info img{

  width: 70%;
  position: relative;
}


.subhead_quiz_answer {
  color: #F28F3C;
  font-size: 45px;
  font-family: 'Fredoka One', cursive;
  position: relative;
  top: -60px;
  left: 30%;
}