.soundiconwithtext img{
    width: 40px;
   

}
.soundicon{

  display: inline;
  position: relative;


   
}


.soundiconwithtext {
    justify-content: center;
    align-items:center;
    font-family: 'Fredoka One', cursive;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    margin: 20px;
    color: #707071;

    text-align: center;

}

