#buttons {

    margin-left: 30px;
}


#optionpage {
    position: relative;
    width: 375px;
    height: 812px;
    /* right: -100%; */
    transition: right 1s;
    
}

.second {
 margin-top:150px;
 
}

.first img{
    width:50px;
    position: absolute;
    top:220px;
    margin-left:310px;
}


.second img{
    width:50px;
    position: absolute;
    top:315px;
    margin-left:310px;
}

.nav_bgcolor {
    width:375px;
    height:400px;
    background-color: rgb(192, 68, 23);
    margin-top:-160px;
    font-family: 'Fredoka One', cursive;

    
}

.navtext1 {
    font-family: 'Fredoka One', cursive;
    left: 12%;
    position: absolute;
    top: 22%;
    padding-bottom: 20px;
    z-index: 1;
    text-align: center;
    font-size: 42px;
    color:white;
}

#basicnav{
margin-right:280px;
top:60px;
position: relative;
}

#advancednav{
    margin-right:280px;
    top:-65px;
position: relative;

}


.plus img{ width:55px;
    margin-left:160px;
}

.plus_1 img{ width:55px;
    margin-left:65px;
}

.basic_nav {
    font-family: 'Fredoka One', cursive;
    /* position: absolute; */
    z-index: 1;
    font-size: 42px;
    color:white;
    display:flex;
margin-left:30px;
padding-top:60px;
}

.advanced_nav {
    font-family: 'Fredoka One', cursive;
    /* position: absolute; */
    z-index: 1;
    font-size: 42px;
    color:white;
    display:flex;
    margin-left:30px;
margin-top:15px;
}

.tutorial_nav {
    font-family: 'Fredoka One', cursive;
    /* position: absolute; */
    z-index: 1;
    font-size: 42px;
    color:white;
    display:flex;
    margin-left:30px;
margin-top:30px;
}