.dsct_inner{

    border: solid 5px #707071;
    width:300px;
    margin-top: -12px;
    border-radius: 20px;
    padding: 5px;
   background-color:white;
   justify-content: center;
   align-items: center;
   align-content: center;
    margin-left:10px;
    margin-bottom: 20px;
    margin-top:2px;


}
.effect_head {
    height: 130px;
}

.des_img img{

    left: 0;
    width:100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.des_img1 img {
margin-top: -30px;
width: 90%;
height: 90%;
margin-bottom: 10px;
justify-content: center;
align-items: center;
align-content: center;
margin-left:6px;


}

.dsct {
    position: absolute;
    width: 375px;
    height:816px;
    background-color: #FFF8E2;
    margin: -10px;

 
 
}

.about_info_effect {
    font-family: 'Fredoka One', cursive;
    color: #707071;
    margin: 20px;
    text-align: center;
}


.bodycontents {

    justify-content: center;
    align-items: center;
    align-content: center;
}


.effect_footer_button{
    position: relative;
    top: -30px;
    left: -6px;
}

.badorgan_name{
    font-family: 'Fredoka One', cursive;
    color: #707071;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    left: 35%;
}

#sub{
    top:40px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #588B8B;
    font-size: 40px;
padding-bottom: 35px;
padding-top:10px;

}

a:link {
    text-decoration: none;
}