
.gepage {
margin: -10px;
position: absolute;
width: 375px;
height:816px;
background-color: #FFF8E2;
align-items: center;
justify-content: center;
font-family: 'Fredoka One', cursive;

}


.subhead_organ {
    color: #588B8B;
    font-size: 45px;
    position: relative;
    left: 102px;
    top: -20px;
    margin-bottom: 40px;
}



#ciga img {
    display: flex;
    margin-left: 14%;
    width: 60%;
    height: 50%;
}
#ciga p {
    float: right;
    margin-right: 30px;

}
#org img{

    width: 90%;
    height: 90%;
}

.bodycontents {
margin-left: 20px;
align-items: center;
justify-content: center;
margin-bottom: 30px;

}

.footbutton {
    position: relative;
    left: 15px;
}