
.gepage {
display: block;
width: 375px;
height:812px;
background-color: #FFF8E2;
align-items: center;
justify-content: center;
font-family: 'Fredoka One', cursive;

}


.subhead_organ {
    color: #588B8B;
    font-size: 45px;
    position: relative;
    left: 102px;
    top: -50px;
    margin-bottom: -20px;
}


#ciga img {
    display: flex;
    position: relative;
    margin-left: 14%;
    width: 60%;
    height: 50%;
    top: -120px;
}
#ciga p {
    float: right;
    right: -100px;
    position: relative;
    color:#707070;
     top: 10px;;


}
#org img{
    position: relative;
    width: 90%;
    height: 90%;
    top: -30px;
}

.bodycontents {
margin-left: 20px;
align-items: center;
justify-content: center;
margin-bottom: 30px;

}

.footbutton {
    top: -90px;
    position: relative;
    left: 15px;
}


#gif img{
    position: relative;
    width: 100px;
    height: 100px;
    float: right;
    top: -48px;
    right:15px;

}

a:link {
    text-decoration: none;
}

body {
    margin: 0px;
}
