.custom_button1_box {
    display:block;
    position: relative;
    width: 40px;
    border-radius:14px;
    padding:10px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
    margin: 5px;
    text-align: center;
    align-items: center;
}

.custom_button1_box_inner {
    
    padding: 5px;
    
}

.custom_button1_box_inner::selection {
    background:none;
    color:none;
}

.custom_button1_box:hover {
    background-color: white;
    color: rgb(242,143,60);
    border: 3px solid rgb(242,143,60);
    padding: 7px;
}