

.stack {
    
    color: white;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    position: relative;
    top: -75px;
    z-index: -1;
}

.stack_inner{
    text-align: center;
    position: relative;
    /* align-self: center; */
    /* align-content: center; */
    bottom: -27px;
   
}