


#topic_buttons{
    position: relative;
    /* left: 20px; */
    text-align: center;
    width: 100vw;
   top:30px;

}

.topic_stack{
    position: relative;
    /* top: -80px; */
}
body {
    margin-left:25px;
}