
.resultsbackg {
  background-color: #FFF8E2;
  /* width:375px; */
  /* height:812px; */
  position: absolute;
  display: block;


}


#rinner {
 
  font-family: 'Fredoka One', cursive;
  text-align: center;

  


}



#button {
 margin-top: 90%;
 margin-left: 25%;
}