.footer {
    background-color: whitesmoke;
    bottom:0px;
    height:30vh;
    width:100vw;
justify-content: center;
align-items: center;
text-align: center;
position: fixed;
}

.button_down {
text-align: center;

justify-content: center;
align-items: center;
bottom: 30%;
position: absolute;
left:35%;


}