#setting_inner{
    display:flexbox;
    border: solid 5px #C8553D;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    place-content: center;
}

#setting {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    align-items: center;

}


